# Python junk
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
.virtual_documents/
anaconda-projects/
anaconda_projects/db

# Data
*.csv
*.fits
*.pkl
*.parquet

# Environments
venv/
skysurvey-env/

#other repos

skysurvey/
